@font-face{
font-family:steelfish_rg;
src:url(steelfish_rg.eot);
}
@font-face{
font-family:steelfish_rg;
src:url(steelfish_rg.ttf) format("truetype");
}
body{margin:0;overflow-x:hidden;background-image:url(../imagenes/background.jpg);font-family:Arial,Helvetica,sans-serif;font-size:14px;}
nav.barra-inicio{
  height:41px;line-height:41px;background:-webkit-linear-gradient(#333,#353535,#4c4c4c);background:linear-gradient(#333,#353535,#4c4c4c);
}
nav.barra-inicio ul a{border-right-width:1px;border-right-style:outset;border-right-color:#666;font-size:13px;}
nav.barra-inicio ul a i{color:red;height:auto;}
@media only screen and (max-width:350px){nav.barra-inicio ul a i{display:none;}}
@media only screen and (max-width:247px){nav.barra-inicio ul a{padding:0 5px;}}
nav.barra-inicio ul a:hover{background:-webkit-linear-gradient(70deg,#ff0,#ffb800);background:linear-gradient(20deg,#ff0,#ffb800);color:#fff;text-shadow:1px 0 1px #424242,0 0 1px #000;}
.contcabeza{height:260px;width:100%;background:-webkit-linear-gradient(289deg,#002d4e 29%,#63f1ff 46%,#004065 59%,#63f1ff 72%,#003f65 91%);background:linear-gradient(161deg,#002d4e 29%,#63f1ff 46%,#004065 59%,#63f1ff 72%,#003f65 91%);border-top-width:4px;border-top-style:inset;border-top-color:#48bad7;background-image:url(../imagenes/head-back.jpg);}
nav.contcabeza .brand-logo{top:25px;font-family:Arial Black,Arial Bold,Gadget,sans-serif;font-size:100px;
-webkit-transform:skew(-12deg,0deg) scale(1);
        transform:skew(-12deg,0deg) scale(1);text-shadow:1px -1px 0 #fff,-2px 1px 3px #000,-1px -2px 1px #000,0 -2px 0 #000,3px -2px 0 #000;z-index:0;font-weight:900;}
@media only screen and (min-width:601px) and (max-width:992px){nav.contcabeza .brand-logo{margin-left:-238px;
-webkit-transform:skew(-12deg,0deg) scale(.9);
        transform:skew(-12deg,0deg) scale(.9);}}
@media only screen and (min-width:500px) and (max-width:601px){nav.contcabeza .brand-logo{margin-left:-238px;
-webkit-transform:skew(-12deg,0deg) scale(.8);
        transform:skew(-12deg,0deg) scale(.8);}}
@media only screen and (min-width:350px) and (max-width:500px){nav.contcabeza .brand-logo{margin-left:-238px;
-webkit-transform:skew(-12deg,0deg) scale(.7);
        transform:skew(-12deg,0deg) scale(.7);}}
@media only screen and (max-width:350px){nav.contcabeza .brand-logo{margin-left:-238px;
-webkit-transform:skew(-12deg,0deg) scale(.5);
        transform:skew(-12deg,0deg) scale(.5);}nav.contcabeza .brand-logo h2{text-shadow:none;}}
nav.contcabeza h2{font-family:Arial,sans-serif;width:495px;text-align:end;position:absolute;color:#000;text-shadow:0 1px 1px #fff,0 0 0 #000;}
nav.contcabeza h2.slogan1{top:45px;font-size:25px;}
nav.contcabeza h2.slogan2{top:78px;font-size:24px;letter-spacing:-1.2px;}
nav.contcabeza span{display:inline-block;}
nav.contcabeza span .rojo{color:red;}
nav.contcabeza span .verde{color:green;}
nav.contcabeza span .azul{color:blue;}
nav.contcabeza span .amarillo{color:#ff0;}
nav.menu-principal{height:100%;font-family:steelfish_rg,Arial,Helvetica,sans-serif;font-size:30px;background-color:transparent;box-shadow:none;margin-top:-85px;
}
nav.menu-principal .nav-wrapper .btn-large{font-size:30px;background-color:red;border-right-width:1px;border-right-style:dotted;border-right-color:maroon;text-transform:none;height:50px;line-height:50px;padding:0;}
nav.menu-principal .nav-wrapper .btn-large:hover{background-color:#7d0000;}
@media only screen and (max-width:1000px){nav.menu-principal .nav-wrapper .row.menu-no-responsive{display:none;}}
nav.menu-principal .nav-wrapper .row.menu-responsive{display:none;}
nav.menu-principal .nav-wrapper .row.menu-responsive .collapsible-body{padding:0;background:#fff;color:#bfbfbf;}
nav.menu-principal .nav-wrapper .row.menu-responsive .collapsible-body li{background:#fff;}
nav.menu-principal .nav-wrapper .row.menu-responsive .collapsible-body a{color:#525252;font-size:29px;}
@media only screen and (max-width:1000px){nav.menu-principal .nav-wrapper .row.menu-responsive{display:block;}nav.menu-principal .nav-wrapper .row.menu-responsive .col.s12,nav.menu-principal .nav-wrapper .row.menu-responsive .col.s12.m6{padding:0;}nav.menu-principal .nav-wrapper .row.menu-responsive .col.s12.m6 a{border-top:1px solid;}}
nav.menu-principal .dropdown-content li>a,nav.menu-principal .dropdown-content li>span{font-size:30px;color:#525252;}
@media only screen and (min-width:500px) and (max-width:601px){nav.menu-principal{margin-top:-115px;}}
@media only screen and (min-width:350px) and (max-width:500px){nav.menu-principal{margin-top:-125px;}}
@media only screen and (max-width:350px){nav.menu-principal{margin-top:-135px;}}
section.container{background-color:#e5e5e5;margin-top:-20px;padding:15px 2%;z-index:1;
}
section.container h2{font-family:steelfish_rg,Arial,Helvetica,sans-serif;font-size:45px;color:red;margin-left:20px;font-weight:700;margin-top:2px;}
section.container p{text-align:justify;}
section.container .row{margin-bottom:0;}
section.container .input-field{margin-top:0;line-height:.7;}
section.container .input-field .prefix{font-size:1.2em;left:15px;top:10px;line-height:.6;color:#1f4896;}
section.container .input-field label{color:#636363;top:7px;left:5px;font-size:16px;font-size:1rem;}
section.container .input-field .dropdown-content{background-color:#00016b;background-color:rgba(0,1,107,.89);border-radius:3px;}
section.container .dropdown-content li>a,section.container .dropdown-content li>span{color:#fff;}
section.container .dropdown-content li>a:hover,section.container .dropdown-content li>span:hover{color:blue;}
section.container .select-dropdown li.disabled,section.container .select-dropdown li.disabled>span,section.container .select-dropdown li.optgroup{color:hsla(0,0%,62%,.9);background-color:transparent;}
section.container center{font-size:21px;}
section.container .btn-solicitar{background:-webkit-linear-gradient(#0000ff,blue,#0000ff);background:-webkit-linear-gradient(rgba(0,0,255,.72),blue,rgba(0,0,255,.75));background:linear-gradient(rgba(0,0,255,.72),blue,rgba(0,0,255,.75));border-radius:6px;box-shadow:2px -2px 1px #fff,2px -3px 1px #000,1px -1px 3px 2px #000;margin-top:5px;}
section.container .btn-solicitar:hover{background:-webkit-linear-gradient(#ff0000,red,#ff0000);background:-webkit-linear-gradient(rgba(255,0,0,.72),red,rgba(255,0,0,.72));background:linear-gradient(rgba(255,0,0,.72),red,rgba(255,0,0,.72));}
section.container .item{background-color:#666;width:100%;border-radius:10px;text-align:center;font-family:Verdana,Geneva,sans-serif;font-size:14px;color:#fff;border:1px solid #7f7f7f;margin-bottom:10px;}
section.container .item .fotitem{border-top-left-radius:10px;border-top-right-radius:10px;width:100%;}
section.container .item h3{font-size:18px;color:#fc0;font-family:Arial Black,Gadget,sans-serif;margin-bottom:2px;}
section.container .item .solicitar a{background:-webkit-linear-gradient(#a22900,#ff5b24);background:linear-gradient(#a22900,#ff5b24);text-align:center;display:block;padding:6px 0;font-family:Arial,Helvetica,sans-serif;font-size:20px;color:#fff;text-decoration:none;border:2px solid #ccc;border-radius:23px;margin:5px 5px 10px;}
section.container .item .solicitar a:hover{background:#fc0;color:#666;}
section.container .aditivos-aceites,section.container .aditivos-diesel,section.container .aditivos-gasolina,section.container .aditivos-refrigeracion{background:-webkit-linear-gradient(299deg,#000054,#6c01bd,#653bb7,#000048,#24005d,#5a009e,#322798,#000048,#00004e);background:linear-gradient(151deg,#000054,#6c01bd,#653bb7,#000048,#24005d,#5a009e,#322798,#000048,#00004e);border-radius:10px;color:#fff;margin-bottom:10px;}
section.container .aditivos-aceites h3,section.container .aditivos-diesel h3,section.container .aditivos-gasolina h3,section.container .aditivos-refrigeracion h3{font-size:20px;font-weight:700;text-shadow:0 0 2px #000;line-height:1.3;margin:23.36px 0 0;margin:1.46rem 0 0;}
section.container .aditivos-aceites img,section.container .aditivos-diesel img,section.container .aditivos-gasolina img,section.container .aditivos-refrigeracion img{margin-top:20px;}
section.container .aditivos-diesel h3{border-bottom:3px solid #ffe000;}
section.container .aditivos-gasolina h3{border-bottom:3px solid #17d100;}
section.container .aditivos-aceites h3{border-bottom:3px solid #d10000;}
section.container .aditivos-refrigeracion h3{border-bottom:3px solid #008cd1;}
section.container .boxlogos{padding:0;}
section.container .boxlogos .logos{border-radius:2px;filter:alpha(opacity=8);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity:.8;-webkit-transition:.5s;transition:.5s;margin-right:0;margin-left:0;border:1px solid #666;border-radius:5px;}
section.container .boxlogos .logos:hover{filter:alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity:.3;}
section.container .textreserva{font-family:Arial,Helvetica,sans-serif;font-size:20px;}
section.container .input-field label:not(.label-icon).active,section.container input:not([type]):focus:not([readonly])+label,section.container input[type=date]:focus:not([readonly])+label,section.container input[type=datetime-local]:focus:not([readonly])+label,section.container input[type=datetime]:focus:not([readonly])+label,section.container input[type=email]:focus:not([readonly])+label,section.container input[type=number]:focus:not([readonly])+label,section.container input[type=password]:focus:not([readonly])+label,section.container input[type=search]:focus:not([readonly])+label,section.container input[type=tel]:focus:not([readonly])+label,section.container input[type=text]:focus:not([readonly])+label,section.container input[type=time]:focus:not([readonly])+label,section.container input[type=url]:focus:not([readonly])+label,section.container textarea.materialize-textarea:focus:not([readonly])+label{color:#df0209;top:0;font-size:16px;font-size:1rem;}
section.container input:not([type]):focus:not([readonly]),section.container input[type=date]:focus:not([readonly]),section.container input[type=datetime-local]:focus:not([readonly]),section.container input[type=datetime]:focus:not([readonly]),section.container input[type=email]:focus:not([readonly]),section.container input[type=number]:focus:not([readonly]),section.container input[type=password]:focus:not([readonly]),section.container input[type=search]:focus:not([readonly]),section.container input[type=tel]:focus:not([readonly]),section.container input[type=text]:focus:not([readonly]),section.container input[type=time]:focus:not([readonly]),section.container input[type=url]:focus:not([readonly]),section.container textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #df0209;background:#00016b;background:rgba(0,1,107,.89);color:#fff;box-shadow:0 1px 0 0 #df0209;-webkit-transition:all .3s linear;transition:all .3s linear;}
section.container input:not([type]),section.container input[type=date],section.container input[type=datetime-local],section.container input[type=datetime],section.container input[type=email],section.container input[type=number],section.container input[type=password],section.container input[type=search],section.container input[type=tel],section.container input[type=text],section.container input[type=time],section.container input[type=url],section.container textarea.materialize-textarea{height:20.8px;height:1.3rem;border-bottom:1px solid #504896;border:1px solid #504896;padding:5px;border-radius:6px;background:hsla(0,0%,100%,.54);line-height:1;}
section.container .input-field .prefix.active{color:#df0209;}
footer.pie{background-color:#000766;padding-top:20px;padding-bottom:20px;height:auto;clear:both;font-family:Verdana,Geneva,sans-serif;font-size:12px;color:#fff;
}
footer.pie .colpie{float:left;border-right-width:1px;border-right-style:outset;border-right-color:#ff0;padding-right:20px;padding-left:20px;}
footer.pie h1{font-family:steelfish_rg,Arial,Helvetica,sans-serif;font-size:25px;color:#f8e800;float:none;margin:15px 0;}
@media only screen and (min-width:1200px){
  .container{width:75%;}
}
@media only screen and (min-width:1100px) and (max-width:1200px){
  .container{width:85%;}
}
@media only screen and (min-width:400px) and (max-width:1100px){
nav{height:100%;}
  .container{width:95%;}
}
@media only screen and (max-width:400px){
  .container{width:100%;}
}
@media only screen and (min-width:601px){
  nav,nav .nav-wrapper i,nav a.button-collapse,nav a.button-collapse i{height:41px;line-height:41px;}
}
