@charset "utf-8";
/* CSS Document */
@font-face {
font-family: "steelfish_rg";
src: url(steelfish_rg.eot);
}
@font-face {
font-family: "steelfish_rg";
src: url(steelfish_rg.ttf) format("truetype");
}
/*colores*/
$rojo: red;
$amarillo: yellow;
$azul: blue;
$verde: green;
$negro: black;
$blanco: white;
$glindo: #7D0000;
$plomo: #525252;
/*sombras*/
$sombrablanca: 0px 1px 1px white, 0px 0px 0px black;
$sombranegra: 1px 0px 1px #424242, 0px 0px 1px black;
$sombranegraprofunda: 1px -1px 0px white, -2px 1px 3px black, -1px -2px 1px black, 0px -2px 0px black, 3px -2px 0px black;
body{margin: 0px;overflow-x: hidden;background-image: url(../imagenes/background.jpg);font-family: Arial, Helvetica, sans-serif;font-size: 14px;}
/*HEADER*/
nav.barra-inicio{
  height: 41px;line-height: 41px;background: linear-gradient(#333333, #353535, #4c4c4c);
  ul{
    a {border-right-width: 1px;border-right-style: outset;border-right-color: #666666;font-size: 13px;
      i{color:$rojo; height:auto;
          @media only screen and (max-width: 350px){display: none;}
      }
      @media only screen and (max-width: 247px){padding: 0 5px;}
    }
    a:hover{background: linear-gradient(20deg, yellow, #ffb800);color: $blanco;text-shadow: $sombranegra;}
  }
}
.contcabeza {height: 260px;width: 100%;background: linear-gradient(161deg,#002d4e 29%,#63f1ff 46%,#004065 59%,#63f1ff 72%,#003f65 91%);border-top-width: 4px;border-top-style: inset;border-top-color: #48BAD7;background-image: url(../imagenes/head-back.jpg);}
nav.contcabeza{
  .brand-logo {top: 25px;font-family: Arial Black,Arial Bold,Gadget,sans-serif;font-size: 100px;transform: skew(-12deg, 0deg) scale(1);text-shadow: $sombranegraprofunda;z-index: 0;font-weight: 900;
    @media only screen and (min-width: 601px) and (max-width: 992px){
      margin-left: -238px;transform: skew(-12deg, 0deg) scale(0.9);
    }
    @media only screen and (min-width: 500px) and (max-width: 601px) {
      margin-left: -238px;transform: skew(-12deg, 0deg) scale(0.8);
    }
    @media only screen and (min-width: 350px) and (max-width: 500px) {
      margin-left: -238px;transform: skew(-12deg, 0deg) scale(0.7);
    }
    @media only screen and (max-width: 350px) {
      margin-left: -238px;transform: skew(-12deg, 0deg) scale(0.5);
      h2{text-shadow: none;}
    }
  }
    h2{font-family: Arial, sans-serif;width: 495px;text-align: end;position: absolute;color:$negro;text-shadow: $sombrablanca;}
    h2.slogan1{top: 45px;font-size: 25px;}
    h2.slogan2{top: 78px;font-size: 24px;letter-spacing: -1.2px;}
    span{display: inline-block;
        .rojo{color: $rojo;}
        .verde{color: $verde;}
        .azul{color: $azul;}
        .amarillo{color: $amarillo;}
    }
}
nav.menu-principal{height: 100%;font-family: "steelfish_rg", Arial, Helvetica, sans-serif;font-size: 30px;background-color: transparent;box-shadow: none;margin-top: -85px;
  .nav-wrapper{
    .btn-large {font-size: 30px;background-color: $rojo;background-color: red;border-right-width: 1px;border-right-style: dotted;border-right-color: #800000;text-transform: initial; height: 50px;line-height: 50px;padding: 0;}
    .btn-large:hover{background-color: $glindo;}
    .row.menu-no-responsive{
      @media only screen and (max-width: 1000px)  { display:none;}
    }
    .row.menu-responsive{display:none;
      .collapsible-body {padding: 0;background: white;color: #bfbfbf;
        li{background:white;}
        a{color:$plomo;font-size: 29px;}
      }
      @media only screen and (max-width: 1000px)  { display:block;
        .col.s12.m6, .col.s12{padding:0;}
        .col.s12.m6 a{border-top: solid 1px;}
      }
    }
  }
  .dropdown-content li > a, .dropdown-content li > span {font-size: 30px;color: $plomo;}
  @media only screen and (min-width: 500px) and (max-width: 601px){
    margin-top: -115px;
  }
  @media only screen and (min-width: 350px) and (max-width: 500px) {
    margin-top: -125px;
  }
  @media only screen and (max-width: 350px){
    margin-top: -135px;
  }
}
/*CUERPO*/
section.container{background-color: #E5E5E5;margin-top: -20px;padding: 15px 2%;z-index: 1290;
  h2{font-family: "steelfish_rg", Arial, Helvetica, sans-serif;font-size: 45px;color: #F00;margin-left: 20px;font-weight: bold;margin-top: 2px;}
  p{text-align: justify;}
  .row {margin-bottom: 0;}
  .input-field {margin-top: 0rem;line-height: 0.7;
      .prefix {font-size: 1.2em;left: 15px;top: 10px;line-height: 0.6;color: rgb(31, 72, 150);}
      label {color: #636363;top: 7px;left: 5px;font-size: 1rem;}
      .dropdown-content {background-color:rgba(0, 1, 107, 0.89);border-radius: 3px;}
  }
  .dropdown-content li > a, .dropdown-content li > span {color: white;}
  .dropdown-content li > a:hover, .dropdown-content li > span:hover {color: $azul;}
  .select-dropdown li.disabled,
  .select-dropdown li.disabled > span,
  .select-dropdown li.optgroup {color: rgba(158, 158, 158, 0.9);background-color: transparent;}
  center{font-size: 21px;}
  .btn-solicitar{background: linear-gradient(rgba(0, 0, 255, 0.72), blue, rgba(0, 0, 255, 0.75));border-radius: 6px;box-shadow: 2px -2px 1px white, 2px -3px 1px black, 1px -1px 3px 2px black;margin-top: 5px;}
  .btn-solicitar:hover{background: linear-gradient(rgba(255, 0, 0, 0.72), red, rgba(255, 0, 0, 0.72));}
  .item {
      background-color: #666;width: 100%;border-radius: 10px;text-align: center;font-family: Verdana, Geneva, sans-serif;
      font-size: 14px;color: #FFF;border: 1px solid #7F7F7F;margin-bottom: 10px;
      .fotitem {border-top-left-radius: 10px;border-top-right-radius: 10px;width: 100%;}
      h3 {font-size: 18px;color: #FC0;font-family: "Arial Black", Gadget, sans-serif;margin-bottom: 2px;}
      .solicitar{
        a {background: linear-gradient(#a22900,#ff5b24);text-align: center;display: block;padding: 6px 0px;font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;color: #FFF;text-decoration: none;border: 2px solid #CCC;border-radius: 23px;margin: 5px 5px 10px 5px;}
        a:hover {background: #FC0;color: #666;}
      }
  }
  .aditivos-diesel,.aditivos-gasolina,.aditivos-aceites,.aditivos-refrigeracion{background: linear-gradient(151deg, #000054,#6c01bd,#653bb7, #000048, #24005d, #5a009e,#322798,#000048,#00004e );border-radius: 10px;color: white;margin-bottom: 10px;
    h3 {font-size: 20px;font-weight: bold;text-shadow: 0px 0px 2px black;line-height: 1.3;margin: 1.46rem 0 0 0;}
    img{margin-top: 20px;}
  }
  .aditivos-diesel{h3{border-bottom: solid 3px #ffe000;}}
  .aditivos-gasolina{h3{border-bottom: solid 3px rgb(23, 209, 0);}}
  .aditivos-aceites{h3{border-bottom: solid 3px rgb(209, 0, 0);}}
  .aditivos-refrigeracion{h3{border-bottom: solid 3px rgb(0, 140, 209);}}
  .boxlogos{padding:0;
    .logos {border-radius: 2px;filter: alpha(opacity=8);opacity: 0.8;transition: 0.5s;margin-right: 0px;margin-left: 0px;border: 1px solid #666;border-radius: 5px;}
    .logos:hover {filter: alpha(opacity=30);opacity: 0.3;}
  }
  .textreserva {font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      border-bottom: 1px solid #504896;
  }
  input:not([type]):focus:not([readonly]) + label,
  input[type=text]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=email]:focus:not([readonly]) + label,
  input[type=url]:focus:not([readonly]) + label,
  input[type=time]:focus:not([readonly]) + label,
  input[type=date]:focus:not([readonly]) + label,
  input[type=datetime]:focus:not([readonly]) + label,
  input[type=datetime-local]:focus:not([readonly]) + label,
  input[type=tel]:focus:not([readonly]) + label,
  input[type=number]:focus:not([readonly]) + label,
  input[type=search]:focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label,
  .input-field label:not(.label-icon).active {
    color: rgb(223, 2, 9);top:0;font-size: 1rem;}
  input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(223, 2, 9);background:rgba(0, 1, 107, 0.89); color:white;box-shadow: 0 1px 0 0 rgb(223, 2, 9);transition: all 0.3s linear;}
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      height: 1.3rem;
  }
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      border-bottom: 1px solid #504896;border: 1px solid #504896;padding: 5px;border-radius: 6px;background: rgba(255, 255, 255, 0.54);line-height: 1;}
  .input-field .prefix.active {
    color: rgb(223, 2, 9);
  }
}
/*FOTTER*/
footer.pie{background-color: #000766;padding-top: 20px;padding-bottom: 20px;height: auto;clear: both;font-family: Verdana, Geneva, sans-serif;font-size: 12px;color: #FFF;
  .colpie{float: left;border-right-width: 1px;border-right-style: outset;border-right-color: #FF0;padding-right: 20px;padding-left: 20px;}
  h1 {font-family: "steelfish_rg", Arial, Helvetica, sans-serif;font-size: 25px;color: #F8E800;float: none;margin: 15px 0;}
}
@media only screen and (min-width: 1200px){
  .container {width: 75%;}
}
@media only screen and (min-width: 1100px) and (max-width: 1200px){
  .container {width: 85%;}
}
@media only screen and (min-width: 400px) and (max-width: 1100px){
nav{height: 100%;}
  .container {width: 95%;}
}
@media only screen and (max-width: 400px){
  .container {width: 100%;}
}
@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {height: 41px;line-height: 41px;}
}
